* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}
@import "react-slideshow-image/dist/styles.css";

img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 2000px;
  margin: 0rem auto;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: white
  
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  border: 2px solid rgb(237, 231, 231);
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.navbar-menu-container {
  display: none;
}

.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}

.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: rgb(149, 61, 160);
  outline: none;
  color: #fffcfc;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}
.navbar-cart-icon {
  font-size: 1.15rem;
}
.primary-button:hover {
  background-color: rgb(61, 37, 75);
}
.highlight3{
  color: #781587;
}
.box{
  color: #781587;
}
.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}
.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 3rem;
 border-bottom-left-radius: 30px;
 border-bottom-right-radius: 30px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEUBImU80oQaAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=);
}
.home-bannerImage-container {
  position: absolute;
  top: 100px;
  right: -170px;
  z-index: -2;
  max-width: 700px;
}
.home-image-section {
  max-width: 450px;
  flex: 1;
  border-radius: 18px;
  overflow: hidden; /* Ensure the image respects the border radius of the container */
}


.home-image-section img {
  width: 90%; /* Ensure the image fits within the container */
  height: auto;
  position: relative;
  top: -20px;
  border-radius: 25px; /* Apply the same border radius to the image */
}
.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
position: relative;
right: -20px;
}
.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #ffffff;
  max-width: 600px;
}
.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #dad4d4;
  margin: 1.5rem 0rem;
}
.primary-heading1 {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #352f2f;
  max-width: 600px;
}
.primary-text1 {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #464343;
  margin: 1.5rem 0rem;
}


.secondary-button {
  padding: 1rem 2.5rem;
  background-color: #781587;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}
.arrow{
  position: relative;
  top: -35px;
  right: 200px;
  font-size: 70px;
  color: #cec5c5;
}
.secondary-button:hover {
  background-color: #440756;
}

.about-background-image-container {
  position: absolute;
  left: -150px;
  z-index: -2;
}
.work{
  border: 0.5px solid rgb(63, 62, 62);
  border-radius: 10px;
  width: 50px;
}
.about-section-image-container {
  flex: 0.9;
  margin-right: 1rem;
}
.edit{
  font-size: 20px;max-width: 450px;
  position: relative;
  right: 220px;
}
.question1{
  border: 2px solid black;
  margin: 2px;
  border-radius: 10px;
  width: 420px
}
.Questions{

flex-direction: column;
}
.about-section-text-container {
  flex: 2;
  justify-content: center;
  display: flex;
  max-width: 1300px;
  flex-direction: column;
}
.primary-heading{
  max-width: 1300px;

}
.primary-subheading {
  font-weight: 1300px;
  color: #fe9e0d;
  font-size: 1.15rem;
}
.about-buttons-container {
  margin-top: 2rem;
  display: flex;
}
.watch-video-button {
  margin-left: 2rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: #484848;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.watch-video-button svg {
  font-size: 3rem;
  margin-right: 1rem;
}
.primary-heading4{
  font-size: clamp(2rem, 5vw, 4rem);
  color: #252323;
  /* line-height: 5rem; */
  max-width: 600px;
 

}
.contact-page-wrapper h1 {
  max-width: 900px !important;
}
.contact-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6rem 0rem;
  position: relative;
  margin-bottom: 20px;
  bottom: 70px;
  /* height: 100px; */
  /* top: -1650px; */
}
.highlight {
  color: rgb(125, 22, 166);
}
.heighlight1{

  color: rgb(125, 22, 166);
}
.heighligth2{

  color: rgb(125, 22, 166);
}

.primary-heading3{
  position: absolute;
   max-width: 500px;
   color: #2b2828;
margin-bottom: 40px;

 }
 .primary-text3{
   text-align: center;
   max-width: 500px;
   color: #d8d2d2;
   
 }
 
.contact-form-container {
  background-color: white;
  max-width: 300px;
  width: 100%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 5rem;
  position: relative;
  right: 110px;
}
.contact-form-container input {
  flex: 1;
  height: 80%;
  border: none;
  outline: none;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}

.footer-wrapper {
  margin: 6rem 0rem;
  display: flex;
  margin-top: 20rem;
  position: relative;
height: 20px;

 
  margin: auto;
 

}
.footer-logo-container {
  max-width: 110px;
  max-height: 100px;
}
.footer-icons {
  margin-top: 2.5rem;
}
.footer-icons svg {
  font-size: 1.5rem;
  margin-right: 1.25rem;
  color: #585858;
}
.foot{
  width: 300px;
}
/* .footer-section-one {
  border: 2px solid blue;
} */
.footer-section-two {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.footer-section-columns {
  display: flex;
  flex-direction: column;
  min-width: 190px;
}
.footer-section-columns span {
  margin: 0.25rem 0rem;
  font-weight: 600;
  color: #4c4c4c;
  cursor: pointer;
}
.testimonial-section-bottom {
  overflow: hidden; 
  display: inline-block; 
}

.testimonial-section-bottom img {
  transition: transform 0.5s ease;
}

.testimonial-section-bottom:hover img {
  transform: scale(1.1);
}
.testimonial-section-bottom {
  margin-top: 2rem;
  background-color: white;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  border-radius: 2rem;
  flex-direction: column;
  text-align: center;
border: 2px solid black;
position: absolute;
Right: 550px;
top: 100px;

}
.box1{
  margin-top: 2rem;
  background-color: white;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 520px ;
  border-radius: 2rem;
  flex-direction: column;
  text-align: center;
border: 2px solid black;
border: 2px solid black;
border-radius: 25px;
margin-bottom: 100px;
position: absolute;
top: 100px;
right: 10px;
}
.box2 {
  overflow: hidden; /* To prevent the image from overflowing the container */
  display: inline-block; /* Optional: Adjusts the display style */
}

.box2 img {
  transition: transform 0.5s ease; /* Smooth transition for the transform property */
}

.box2:hover img {
  transform: scale(1.1); /* Scale the image to 110% on hover */
}
.box1 {
  overflow: hidden; /* To prevent the image from overflowing the container */
  display: inline-block; /* Optional: Adjusts the display style */
}

.box1 img {
  transition: transform 0.5s ease; /* Smooth transition for the transform property */
}

.box1:hover img {
  transform: scale(1.1); /* Scale the image to 110% on hover */
}
.box2{
  margin-top: 2rem;
  background-color: white;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 2rem;
  flex-direction: column;
  text-align: center;
border: 2px solid black;
border: 2px solid black;
border-radius: 25px;
margin-bottom: 100px;
max-width: 500px;
position: absolute;
top: 700px;
right: 550px;
}
.box3{
  margin-top: 2rem;
  background-color: white;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 2rem;
  flex-direction: column;
  text-align: center;
border: 2px solid black;
border: 2px solid black;
border-radius: 25px;
margin-bottom: 100px;
max-width: 510px;
position: absolute;
top: 939px;
right: 20px;

}
.box3 {
  overflow: hidden; /* To prevent the image from overflowing the container */
  display: inline-block; /* Optional: Adjusts the display style */
}

.box3 img {
  transition: transform 0.5s ease; /* Smooth transition for the transform property */
}

.box3:hover img {
  transform: scale(1.1); /* Scale the image to 110% on hover */
}

.testimonial-section-bottom {
  margin: 2rem auto;
}
.testimonial-section-bottom p {
  font-weight: 700;
  color: #515151;
  max-width: 500px;
  font-size: 1.1rem;
  margin: 2rem 0rem;
}
.testimonials-stars-container svg {
  margin: 0rem 0.25rem;
  font-size: 1.5rem;
  color: #fe9e0d;
}
.testimonial-section-bottom h2 {
  margin-top: 1.5rem;
}
.work-section-wrapper {
  position: relative;
  margin-top: 15rem;
  height: 1800px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEUBImU80oQaAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=);
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;
 border-top-left-radius: 40px;
 border-top-right-radius: 40px;
}
.work-section-wrapper1 {
  position: relative;
  margin-top: 15rem;
  height: 850px;

  /* height: auto; */
}



.work-section-top p {
 text-size-adjust: 10px;
  max-width: 400px !important;
  font-size: 25px;
  position: relative;
  bottom: 100px;
  align-items: center;
  left: 50px;
  top: -120px; 
}


.navbar-links-container a {
  position: relative;
  text-decoration: none;
  color: black;
}

.navbar-links-container a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: rgb(103, 21, 141);
  transition: width 0.3s ease-in-out;
}

.navbar-links-container a:hover::after {
  width: 100%;
}
.footer-section-columns span {
  position: relative;
  text-decoration: none;
  color: black;
}

.footer-section-columns span::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: rgb(103, 21, 141);
  transition: width 0.3s ease-in-out;
}

.footer-section-columns span:hover::after {
  width: 50%;
}



.work-section-top h1 {
  max-width: 600px ;
  text-size-adjust: 10px;
  font-size: 40px;
position: relative;
bottom: 90px;
left: 50px;
margin-top: 40px;

}
.Helping{
  position: relative;
  top: -190px;
  border: 1px solid rgb(123, 17, 123);
  width: 160px;
  font-size: 18px;
  border-radius: 7px;
  left: 900px;
 
}
.work-section-top {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  bottom: 8px;
}
.work-section-info {
  width: 290px;
  min-height: 250px;
  background-color: rgb(251, 248, 248);
  border: 1px solid rgb(226, 218, 218);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color: #262424;
  margin: 1rem 2rem;
  overflow: hidden;
}

.work-section-info h2 {
  margin: 1rem 0rem;
  text-size-adjust: 15px;
}
.work-section-bottom {
  margin-top: -8rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  flex-wrap: wrap;
 
}
.work-section-info p {
  flex: 1;
  display: flex;
  font-weight: 700;
}

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .primary-button {
    font-size: 1rem;
  }
  .home-bannerImage-container {
    max-width: 600px;
  }
}
@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 140px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar{
    max-width: 433px;
    position: relative;
    right: -18px;
  }
  .navbar-menu-container {
    display: flex;
  }
  .home-bannerImage-container {
    max-width: 450px;
  }
  .home-image-section img{
    max-width: 212px;
  }
  .work-section-info p {
    flex: 1;
    display: flex;
    max-height:20px
    
  }
  .box2{
    position: absolute;
    right: 97px;
    top: 598px;
  }
  .work-section-top {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: -78px;
  }
  .box1{
    max-width: 200px;
    position: absolute;
    top: 273px;
    max-height: 293px;
  }
  .testimonial-section-bottom{
    position: relative;
    left: -70px;
    max-width: 175px;
    top: -209px;
  }
  .box{
    max-width: 200px;position: relative;
    right: -20px;
  }
  .box3{
    position: absolute;
    top: 934px;
    right: 29px;
  }
  .home-banner-container,
  .about-section-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 600px;
  }
  .work-section-top p{
    width: 310px;
    font-size: 12px;
    top: -321px;
    position: relative;
    left: 22px;
    
  }
  .work-section-info h2 {
    margin: 0rem 0rem;
   
  }
  .about-section-container {
    flex-direction: column;
  }
  .home-image-section,
  .about-section-image-container {
    width: 100%;
    max-width: 250px;
    position: relative;
    right: -15px;
  }
  .work-section-top h1{
    max-width: 340px;
    position: relative;
    right: 37px;
    top: -286px;
    font-size: 16px;
    left: 21px;
  }
  img {
    max-width: 126px;

  }
  .primary-heading1 {
    font-size: clamp(2rem, 5vw, 4rem);
    color: #352f2f;
    max-width: 500px;
    position: relative;
    right: 10px;
  }
  .primary-heading {
    text-align: center;
    max-width: 400px;
    font-size: 20px;
    position: relative;
    right: 10px;
  }
  .primary-text {
    text-align: center;
    max-width: 600px;
    font-size: 13px;
    position: relative;right: 10px;
  }
  .primary-heading3{
   position: absolute;
    max-width: 500px;
    color: #352f2f;

  }
  .primary-text3{
    text-align: center;
    max-width: 500px;
    color: #352f2f;
  }
  .work-section-info{
    max-height: 100px;
    max-width: 106px;
    font-size: 3px;
    min-height: 100px;
    position: relative;
    right: -49px

  }
  .work-section-wrapper1{
    height: 641px;

  }
  
  .home-text-section,
  .about-section-text-container {
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
  }
  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }
  .about-section-container {
    margin-top: 5rem !important;
  }
  .about-buttons-container {
    justify-content: center;
    flex-direction: column;
  }
  .parent-container {
    position: relative;
    /* Additional styling */
  }
  
  .primary-subheading {
    position: absolute;
    top: 20px; /* Adjust this value to move the text upwards or downwards */
    left: 0;
    right: 0;

  }
  
  .watch-video-button {
    margin-left: 0rem !important;
    margin-top: 1rem;
    font-size: 1rem !important;
  }
  .watch-video-button svg {
    margin-right: 0.5rem !important;
  }
  .about-section-image-container {
    margin-right: 0rem !important;
  }
  .contact-page-wrapper{
    position: relative;
    left: 60px;

  }
  .edit{
    position: relative;
    left: -48px;
    font-size: 18px;
    max-width: 236px;
  }
  .work-section-wrapper {
    margin-top: 4rem !important;
    max-width: 390px;
    position: relative;
    right: -20px;
    top: -177px;
    height: 1220px;
  
  }

  .work-section-bottom {
    margin-top: 1rem !important;
    position: relative;
    top: -366px;
    right: 57px;
    max-width: 561px;
    min-width: 410px;
  }

  .contact-form-container {
    padding: 0.5rem !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem !important;
    position: relative;
    right: 48px;
    top: -34px;
  }
  .contact-form-container input {
    font-size: 1rem !important;
    padding: 0.5rem 1rem !important;
    margin-bottom: 0.8rem !important;
    text-align: center;
  }
  .footer-wrapper {
    flex-direction: column;
  }
 .foot{
  max-width: 356px;
  font-size: 14px;
 }
  .footer-section-two {
    flex-direction: column;
    margin-top: 2rem;
    font-size: 14px;
  }
  .footer-section-columns {
    margin: 1rem 0rem;
  }
  .App {
    max-width: 105vw;
    margin: 0px;
  }
}
@media (max-width: 600px) {
  .home-bannerImage-container,
  .about-background-image-container {
    display: none;
  }
}